images/*
capture
capture_RPiHQ
config.sh
darks/*
gibbons*
liveview*
image-resize.jpg
image-processed.jpg
temperature.txt
data.json
keogram
log.txt
settings.json
startrails
scripts/data.json
scripts/ftp-settings.sh
scripts/keogram_and_startrails.sh
scripts/keogram_only.sh
scripts/startrails_manual.sh
scripts/startrails_only.sh
scripts/stretch.sh
