images/*
capture
capture_RPiHQ
config.sh
darks/*
gibbons*
liveview*
image.jpg
image-resize.jpg
image-processed.jpg
autocam.sh
temperature.txt
data.json
keogram
log.txt
settings.json
startrails
scripts/data.json
scripts/ftp-settings.sh
scripts/keogram_and_startrails.sh
scripts/keogram_only.sh
scripts/startrails_manual.sh
scripts/startrails_only.sh
scripts/stretch.sh
*.o
allsky.log
belichtungsreihe.txt
dest.jpg
draw.jpg
gray.jpg
image.jpg
keogram-20210709.jpg
out.jpg
red_image.png
startrials.jpg
startrials_010.jpg
startrials_011.jpg
startrials_015.jpg
startrials_020.jpg
startrials_030.jpg
startrials_040.jpg
startrials_050.jpg
test.jpg
write_mask.png
masked_color_replace.png
image.jpg
