images/*
darks/*
scripts/endOfNight_additionalSteps.sh

# development artifacts
src/*.a
*.o
*.core
*.gcda
gmon.out
.*.sw[pomnq]

# generated binaries
capture_ZWO
capture_RPiHQ
keogram
startrails
sunwait

# misc
.vscode/configurationCache.log
.vscode/targets.log
.vscode/dryrun.log
