ACTION=="add", ATTR{idVendor}=="03c3", RUN+="/bin/sh -c '/bin/echo 200 >/sys/module/usbcore/parameters/usbfs_memory_mb'"
ACTION=="add", ATTR{idVendor}=="03c3", RUN+="/bin/systemctl start allsky"
# All ASI Cameras and filter wheels
SUBSYSTEMS=="usb", ATTR{idVendor}=="03c3", MODE="0666"
ACTION=="remove", ENV{ID_VENDOR}=="ZWO", RUN+="/bin/systemctl stop allsky"
