.oe-image-manager-images {
    height: 300px;
    border: 1px solid #555;
    margin-top: 5px;
}

.oe-image-manager-image {
    border: 1px solid #555;
    float: left;
    margin: 5px 10px 10px 10px;
    padding: 5px;
    width: 100px;
    height: 120px;
}

.oe-image-manager-image-selected {
    border: 1px solid red;
}

.oe-image-manager-image img {
    width: 90px;
    height: 90px;
}

.oe-image-manager-image p {
    text-align: center;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}