CAN_SKIP numpy
opencv-python
CAN_SKIP Pillow
CAN_SKIP pyephem
CAN_SKIP skyfield
CAN_SKIP astral
CAN_SKIP pytz
CAN_SKIP scipy
CAN_SKIP paho-mqtt
CAN_SKIP astropy
CAN_SKIP suncalc
Adafruit-Blinka
CAN_SKIP vcgencmd
CAN_SKIP certifi
CAN_SKIP requests
mysql-connector-python
CAN_SKIP photutils
CAN_SKIP psutil
gitpython
whiptail-dialogs
CAN_SKIP flask
CAN_SKIP flask-login
CAN_SKIP gunicorn
CAN_SKIP flask-jwt-extended
CAN_SKIP bcrypt
