numpy
opencv-python
Pillow
pyephem
skyfield
astral
pytz
scipy
paho-mqtt
astropy
suncalc
Adafruit-Blinka
vcgencmd
certifi
requests
mysql-connector-python
photutils
psutil
gitpython
whiptail-dialogs
flask
flask-login
gunicorn
flask-jwt-extended
bcrypt
