:root {
    --dark-text: #aaaaaa;
}

.oe-flash {
    padding: 10px;
}

.oe-help {
    padding: 5px;
}
.oe-help dt {
    margin-bottom: 5px;
}
.oe-help dd {
    margin-bottom: 3px;
}

#oe-background-image {
    display: none;
}

#overlay_container, #mask_container {
    overflow: hidden;
}

#helpdialog #helptext {
    margin: 5px;
}

#helpdialog #helptext h2 {
    border-bottom: 1px solid white;
}

#helpdialog #helptext table {
    margin-top: 10px;
}

#oe-editor-stage, #oe-exposure-stage { 
    width:100%; 
    height:100%; 
    top:0px; 
    left:0px;
}

.oe-editor.panel-body {
    padding: 0px !important;
}

.oe-maskeditor.panel-body {
    padding: 0px !important;
}

.dark .modal-content {
    background-color: #222222 !important;
    color: var(--dark-text) !important;    
}

.dark .modal-header {
    border-bottom: 1px solid black !important;
}

.dark .modal-footer {
    border-top: 1px solid black !important;
}

#oeeditor .navbar {
    margin-bottom: 0px !important;
    height: auto !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none !important;
}

.test {
    background: none !important;
}

.ui-dialog { 
    z-index: 1000 !important ;
}

.ui-dialog-titlebar-close1 {
    display: none !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0px !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px !important;
}

.pgTable {
    border: none !important;
    width: 100% !important;
    overflow: hidden !important;
}

.pgGroupRow {
    background-color: #272727 !important;
}

.tooltip-wrapper {
    display: inline-block; /* display: block works as well */
}
  
.tooltip-wrapper .btn[disabled] {
    /* don't let button block mouse events from reaching wrapper */
    pointer-events: none;
}
  
.tooltip-wrapper.disabled {
    /* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
    cursor: not-allowed;
}

.green {
    color: green;
}

.red {
    color: red;
}

.pulse {
    animation: pulse 1s infinite ease-out;
}

@keyframes pulse {
    25% {
      transform: scale(1.25);
    }
    50% {
      transform: scale(1.50); 
    }
    75% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1); 
    }
}

#oe-item-list-dialog-allsky, #oe-item-list-dialog-all {
    padding-top: 20px;
}

.datatable td {
    overflow: hidden;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 10px;
}

table.dataTable td {
    padding-top: 2px;
}

.sp-replacer {
    height: 2.5rem !important;
    width: 4rem !important;
}

.sp-dd {
    padding: 3px 2px !important;
}

.oe-overlay-editor-tab-modified:after {
    content: " - Modified";
    color: red;
    font-weight: 700;
}

.dark #oe-debug-dialog-form textarea {
    color: black;
}

.dtsp-panesContainer, .dtsp-collapseAll {
    background-color: black !important;
}

.dtsp-collapseAll, .dtsp-clearAll, .dtsp-showAll  {
    background-color: #121212 !important;
} 

.dtsp-name, .dtb-popover-close {
    color: black !important;
    text-transform: capitalize;
}

#formatlisttable_filter, .dtsp-searchCont {
    display: none !important;
}
div.dtsp-topRow {
    height: 0px !important;
    min-height: 0px !important;
}

div.dtsp-searchPane div.dataTables_scrollBody {
    height: 91px !important;	/* good for 3 lines */
}
div.dtsp-searchPane div.dtsp-topRow {
    margin: 0px !important;
}

.dtsp-searchPane .odd, .dtsp-searchPane .even {
    background: #bbb !important;
}

.dataTables_length {
    display: none;
}
#formatdialog {
    margin: 5px;
}

.oe-format-replace {
    margin-right: 5px;
}

.btn-lg {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.panel {
    border: none !important;
}

/** Remove after BS4 upgrade **/
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.oe-mm-wrapper {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 1001;
    width: 400px;
    height: 100%;
    padding: 10px;
    background-color: white;    
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.1s cubic-bezier(0.7,0,0.3,1);
    transform: translate3d(410px,0,0);
    z-index: 9999;
}
.oe-mm-wrapper.active {
    transform: translate3d(0px,0,0);
}
  
.dark .oe-mm-wrapper {
    background-color: #222;
}

/* Buttons */
.oe-mm-trigger {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 9999;
}

.asteriskField{
    color: red;
}

#oe-overlay-not-running {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2); 
    z-index: 2; 
    cursor: pointer;
}

#oe-overlay-not-running.big {
    height: 80vh;
}

#oe-overlay-not-running .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 2em;
}

#oe-overlay-not-running .center-full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2em;
}

#oe-overlay-not-running .center,.center-full .center-paragraph {
    text-align: center;
    border: 3px solid green;
    background-color: rgba(0,0,0,0.3);
    padding: 15px;    
}

.border-left {
    border-left: 1px solid #666;
    margin-left: 5px;
}

#oe-overlay-not-running small {
    font-size: 50% !important;
}

#oe-overlay-not-running p {
    margin: 0px !important;
}

#oe-overlay-not-running h1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#oe-overlay-disable {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
}

#oe-overlay-disable .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 2em;
}

#oe-overlay-disable .center .center-paragraph {
    text-align: center;
    border: 3px solid green;
    background-color: rgba(0,0,0,0.3);
    padding: 15px;    
}

#oe-overlay-disable .center .center-paragraph h2 {
    font-size: 2vw;
}

#oe-overlay-disable .center .center-paragraph p {
    font-size: 1.5vw;
    margin-top: 10px;
}

/* Jquery UI overrides */
.ui-widget-header {
    border: none;
    background: none;
    color: #fff;
    font-weight: bold;
}

.ui-dialog {
    border-radius: 10px !important;
}

.ui-widget.ui-widget-content {
    border: none;
}

.pgCell {
    border: dotted 1px #444;
    padding: 5px;
}

.dt-paging {
    margin-top: 5px !important;
}

#pgtextlabel, #pgtextformat {
    width: 80%;
}