ATTR{product}=="ASI120MM" ATTR{idVendor}=="03c3" ATTR{idProduct}=="120a" GROUP="users", MODE="0666"
ATTR{product}=="ASI120MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="120b" GROUP="users", MODE="0666"
ATTR{product}=="ASI120MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="120b" GROUP="users", MODE="0666"
ATTR{product}=="ASI174MM" ATTR{idVendor}=="03c3" ATTR{idProduct}=="174b" GROUP="users", MODE="0666"
ATTR{product}=="ASI174MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="174a" GROUP="users", MODE="0666"
ATTR{product}=="ASI130MM" ATTR{idVendor}=="03c3" ATTR{idProduct}=="130a" GROUP="users", MODE="0666"
ATTR{product}=="ASI035MM" ATTR{idVendor}=="03c3" ATTR{idProduct}=="035a" GROUP="users", MODE="0666"
ATTR{product}=="ASI035MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="035b" GROUP="users", MODE="0666"
ATTR{product}=="ASI034MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="034b" GROUP="users", MODE="0666"
ATTR{product}=="ASI030MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="030a" GROUP="users", MODE="0666"
ATTR{product}=="ASI120MM-S" ATTR{idVendor}=="03c3" ATTR{idProduct}=="120d" GROUP="users", MODE="0666"
ATTR{product}=="ASI120MC-S" ATTR{idVendor}=="03c3" ATTR{idProduct}=="120e" GROUP="users", MODE="0666"
ATTR{product}=="ASI185MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="185a" GROUP="users", MODE="0666"
ATTR{product}=="ASI136MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="136a" GROUP="users", MODE="0666"
ATTR{product}=="ASI178MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="178a" GROUP="users", MODE="0666"
ATTR{product}=="ASI224MC" ATTR{idVendor}=="03c3" ATTR{idProduct}=="224a" GROUP="users", MODE="0666"
ATTR{product}=="ASI174MM-Cool" ATTR{idVendor}=="03c3" ATTR{idProduct}=="174d" GROUP="users", MODE="0666"
ATTR{product}=="ASI174MC-Cool" ATTR{idVendor}=="03c3" ATTR{idProduct}=="174c" GROUP="users", MODE="0666"
ATTR{product}=="ASI178MC-Cool" ATTR{idVendor}=="03c3" ATTR{idProduct}=="178b" GROUP="users", MODE="0666"
ATTR{product}=="ASI224MC-Cool" ATTR{idVendor}=="03c3" ATTR{idProduct}=="224b" GROUP="users", MODE="0666"
ATTR{product}=="ASI185MC-Cool" ATTR{idVendor}=="03c3" ATTR{idProduct}=="185b" GROUP="users", MODE="0666"
ATTR{product}=="ASI178MM" ATTR{idVendor}=="03c3" ATTR{idProduct}=="178C" GROUP="users", MODE="0666"
ATTR{product}=="ASI178MM-Cool" ATTR{idVendor}=="03c3" ATTR{idProduct}=="178D" GROUP="users", MODE="0666"
