.red {
  color: #e53935;
}

.orange {
  color: #fb8c00;
}

.green {
  color: #43a047;
}

.blue {
  color: #1e88e5;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.settings-header {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center !important;
}

.settings-header-note {
  background-color: #ccc;
  font-weight: normal;
}

.web-ui-setting {
  color: rgb(0, 0, 155);
  font-weight: bold;
}

.camera-dependent,
.allsky-website-dependent {
  color: rgb(155, 0, 0);
  font-weight: bold;
}


/* Width classes for tables */
.w-5p {
  width: 5%;
}
.w-20p {
  width: 20%;
}
.w-25p {
  width: 25%;
}
.w-30p {
  width: 30%;
}
.w-100 {
  width: 100px;
}

.w-150 {
  width: 150px;
}

.w-200 {
  width: 200px;
}